.costum-botton {
  padding-left: 20px !important;
  padding-right: 20px !important;
  color: white !important;
  border-radius: 5px;
  border: none;
  height: 40px;
}

.btn-primary {
  background-color: #04bfad;
}

.btn-primary:hover {
  background-color: #1ddac7;
}

.btn-secondary {
  background-color: #f23005;
}

.btn-secondary:hover {
  background-color: #f57052;
}

.btn-primary:active {
  background-color: #04bfad;
}

.btn-secondary:active {
  background-color: #f23005;
}
