.costum-botton {
  padding-left: 20px !important;
  padding-right: 20px !important;
  color: white !important;
  border-radius: 5px;
  border: none;
  height: 40px;
}

.btn-primary {
  background-color: #04bfad;
}

.btn-primary:hover {
  background-color: #1ddac7;
}

.btn-secondary {
  background-color: #f23005;
}

.btn-tertiary {
  background-color: #f28b0c;
}

.btn-tertiary:hover {
  background-color: #f25c05;
}

.btn-secondary:hover {
  background-color: #f57052;
}

.btn-primary:active {
  background-color: #04bfad;
}

.btn-secondary:active {
  background-color: #f23005;
}

.profile-btn {
  border-radius: 0px;
  text-align: left;
  position: relative;
}

.plus-icon {
  position: absolute;
  font-size: 32px;
  top: 45%;
  right: 10px;
  transform: translateY(-50%);
}

.active {
  background-color: #f25c05;
}

.spesial-btn {
  font-weight: bold;
}

.spesial-btn:hover {
  color: #f57052;
}

.profile-logout-btn {
  border-radius: 0 0 0.25rem 0.25rem;
}
