.navbar {
  background-color: $secondary !important;
}

.navbar-brand {
  color: $primary !important;
}

.navbar li {
  padding: 5px;
}

.haburger-collapsed {
  background-image: url("/madia/icons/haburger.png") !important;
}

.haburger-expanded {
  background-image: url("/madia/icons/cross.png") !important;
}

header {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.336);
}
