.profile-img {
  width: 100%;
  max-width: 250px;
  border-radius: 1rem;
}

.profile-card {
  background-color: #d5d5d5;
}

.profile-credits {
  color: #04bfad;
  font-weight: bolder;
  font-size: 1.3rem;
}

.profile-credits-sum {
  color: #04bfad;
  font-weight: bolder;
  font-size: 1.5rem;
}
